/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,300&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom right, #3498db, #e73ccb);
}

.container {
    text-align: center;
    color: white;
    position: relative; /* Make the container relative for absolute positioning */
}

.button-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 4px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 1);
    transform: translateY(-5px);
}

.recommended-songs-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.song-container {
    margin: 0 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
    transform: translateY(-15px);
    transition: transform 0.1s ease, box-shadow 0.12s ease-in-out; /* Add transition effect, and a box-shadow transition effect */
    position: relative; /* Set the position to relative for the absolute positioning of .glow */
}

.song-container:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7); /* Light border effect */
    transform: translateY(-5px);
    /* Add 3D card hover effect here */
    transform: rotate3d(0deg, 0deg, 0deg); /* Rotate on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.song-container .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    background-image: radial-gradient(circle at 50% 50%, #ffffff22, #0000000f);
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensure the glow layer does not interfere with mouse events */
    border-radius: 8px; /* Match the border-radius of the song container */
    transition: background-size 0.3s ease-in-out;
    z-index: -1;
}

img {
    margin: 10px;
    border: none;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: box-shadow 0.6s ease-in-out;
}

img:hover{
    /* Add 3D card hover effect here */
    transform: rotate3d(0deg, 0deg, 0deg); /* Rotate on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); /* Add shadow on hover */
}

@keyframes squiggly-anim {
    0% {
        filter: url('#squiggly-0');
    }
    25% {
        filter: url('#squiggly-1');
    }
    50% {
        filter: url('#squiggly-2');
    }
    75% {
        filter: url('#squiggly-3');
    }
    100% {
        filter: url('#squiggly-4');
    }
}

.moodify-text {
    font-size: 50px;
    line-height: 10vh;
    outline: none;
    animation: squiggly-anim 0.5s linear infinite;
    font-family: 'Work Sans', sans-serif;
}

.sub-text {
    font-family: 'Work Sans', sans-serif; /* Apply Work Sans font to the sub-text */
    font-weight: 300; /* Set the font weight to 300 for the italic version */
    font-style: italic; /* Apply italic style */
    font-size: 0.9em;
    outline: none;
    animation: squiggly-anim 0.5s linear infinite;
}

.moodify-text p {
    margin: 0;
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
}